/*Titel von jeder Seite und Haus*/
$Themecolor: rgb(187, 16, 135);
$Schrift: "Google Sans", sans-serif;
$TextSchatten: 2px 2px 2px rgb(190, 144, 177);

/*Karten der News Seite*/
$BackgroundNews: rgba(44, 44, 44, 0.5);
$KartenrandNews: 2px solid rgba(187, 16, 135, 0.4);
$Kartenschatten:  -1px 2px white;

/*Media Berechnung*/
$mobile: 400px;
$scale: 2;
