body {

    background-image: url(Bilder/FlorianStettler/BG1.jpg);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



div {

    color: white;
    font-size: 70px;
}

div.title {

    color: rgba(187, 16, 135);
        font-size: 55px;
        text-shadow: 2px 2px 2px rgb(190, 144, 177);
}

.topic {
    font-size: 40px;
}


p {

    color: white;
    font-size: 25px;
    margin: auto;
}

p.welcome {
    font-size: 20px;
}


pre {

    color: white;
    font-size: 25px;
    margin: auto;
}

table {
    color: white;
    font-size: 25px;
    margin: auto;

}

form {
    padding-left: 20px;

    color: white;
    font-size: 25px;
}

label {

    margin-right: 30px;

}

input {

    margin-top: 20px;
    font-size: 20px;
}

textarea.TextFeld {
    display: block;
    width: 800px;
    height: 500px;
    margin-top: 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}



th {
font-size: 35px;
border-style: groove;
    border-width: medium;
    border-color: white;
    margin: auto;
}

td {
    padding-top: 10px;
    border-style: dotted;
    border-width: thin;
}

td.time {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
    border-color: white;
}

/*td.job {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
    border-color: white;
}

th.deko {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
}

*/



        
.topic {

    font-size: 40px;
}




a {
    text-decoration: none;
    color: rgb(187, 16, 135)
}

a:hover {
    color: white;
    cursor: grab
}

a.house {

    font-size: 65px;
    text-align: right;


}
















/* a.link-blog:hover {

    flood-color: white;
}

.florian-link:hover {
    font-size: 25px;
    text-decoration: underline;

}

a:-webkit-any-link {
    color: rgb(187, 16, 135);
    text-decoration: none;
}*/





/*  index
div {

     color: white;
     font-size: 70px;
 }

 body {
     background-image: url(Bilder/FlorianStettler/BG1.jpg);
     size: 5;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

} */