body {


background-image: url("Bilder/FlorianStettler/BG1.jpg");
    background-size: cover;
    /* Bild füllt den Bildschirm */
    background-position: center;
    /* Bild bleibt zentriert */
    background-repeat: no-repeat;
    /* kein Kacheln */
    background-attachment: fixed;
    /* optional: bleibt beim Scrollen stehen */
    padding-left: 10px;
        font-family: "Google Sans", sans-serif;
        color: white;
}


div.welcome {

    color: white;
    font-size: 70px;
    text-align: center;
        padding-top: 10px;
        margin: 20px;
}

div.title {
margin-top: 35px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    color: rgba(187, 16, 135);
    font-size: 55px;
font-family: "Google Sans", sans-serif;
text-shadow: 2px 2px 2px rgb(190, 144, 177);
}






ul.title {

    color: rgba(187, 16, 135);
    font-size: 55px;
    font-family: "Google Sans", sans-serif;
    text-shadow: 2px 2px 2px rgb(224, 210, 220);
    text-align: center;
    list-style-type: none;
    margin: 10px;
    }
    
    li.img {
        margin-top: 20px;
}

p {

    color: white;
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
    margin: auto;
}

p.welcome {
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
    }
    



pre {

    color: rgb(248, 244, 19);
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
    margin: auto;
}

th {
    font-size: 35px;
    border-style: groove;
    border-width: medium;
    border-color: white;
    margin: auto;
}

td {
    padding-top: 10px;
    border-style: dotted;
    border-width: thin;
}

table.hobbies {
    border-style: none;
}

table.hobbies th,
table.hobbies td {
    max-width: 600px;
    font-size: 40px;
    border-style: none;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
table.lebenslauf {
    color: white;
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
    margin: auto;
    

}

form {
    padding-left: 20px;

    color: white;
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
}

textarea.TextFeld {
    display: block;
    width: 800px;
    height: 500px;
    margin-top: 10px;
    font-size: 25px;
    border: solid 2px rgb(187, 16, 135);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.formular {

    display: inline-block;
        font-size: 30px;
        font-family: "Google Sans", sans-serif;
        padding: 10px;
}

.formular input[type="checkbox"] {
    transform: scale(1.5);
}
.formular input[type="submit"] {
    
    font-size: 25px;
    background-color: rgba(187, 16, 135)"
    
    }

.formular label {
    padding: 4px 8px 4px 0px;
    margin: 4px 4px 4px 0px;

}


.formular input {
    background-color: rgb(230, 222, 222);
    border: solid 2px rgb(187, 16, 135);
    border-radius: 0.5em;
    font-family: serif;
    font-size: 20px;
    padding: 5px;

}


td.time {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
    border-color: white;
}

table.florian td {
    border-style: none;
    font-family: "Google Sans", sans-serif;
    color: white;
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
}

table.florian tr td:first-child {
    padding-right: 20px;
    font-weight: bold;
}

table.lebenslauf {
    background-image: radial-gradient(rgba(36, 11, 11, 0.7)), url(Bilder/FlorianStettler/BG1.jpg);
    background-size: cover;


}
        
.topic {

    font-size: 40px;
}




a {
    text-decoration: none;
    color: rgb(187, 16, 135)
}

a:hover {
    color: white;
    cursor: grab
}

a.house {

    font-size: 65px;
    text-align: right;


}


p.news {
    box-sizing: border-box;
    text-align: center;
    padding: 0px 15%;
    color: blanchedalmond;

}

h1.news {
    padding-top: 40px;
    text-align: center;
    color: rgb(58, 197, 197);
}

div.Tamos {


    height: 350px;
    width: 600px;
    margin: auto;

    background-image: linear-gradient(135deg, rgba(26, 24, 94, 0.25) 60%, rgba(66, 14, 14, 0.25)40%), url(Bilder/FlorianStettler/Webbild_TAMOS-AG-01.png);
    background-size: cover;



}

p.detail {

    color: rgba(255, 255, 255, 0.8);
    font: bold;
    padding-top: 100px;
    text-align: center;


}

div.detail {

    width: 1200px;
    margin: auto;
}

.news a {
    display: inline-block;
    background-color: grey;
    color: rgb(134, 33, 33);
    text-decoration: none;


    padding: 3px 10px;

    border-radius: 10px;

    font-family: "Google Sans", sans-serif;
    font-weight: bold;

    /* Sanfter Übergang für Farbe UND Hintergrund */
    transition: color 0.3s ease;
}

/* Ein kleiner Hover-Effekt macht den Button lebendig */
.news a:hover {
    background-color: rgba(85, 85, 85, 0);

    color: white;
    font: bold;

}

blockquote {

    border-left: 5px solid rgb(82, 16, 16);
    padding-left: 1rem;
    margin: 3rem 0;
    font-style: italic;
    color: blanchedalmond
}

blockquote cite {
    display: block;
    margin-top: 0.5rem;
    font-style: normal;
    font-size: 0.9rem;
    color: #777;
}






/*td.job {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
    border-color: white;
}

th.deko {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
}

*/






/* a.link-blog:hover {

    flood-color: white;
}

.florian-link:hover {
    font-size: 25px;
    text-decoration: underline;

}

a:-webkit-any-link {
    color: rgb(187, 16, 135);
    text-decoration: none;
}*/





/*  index
div {

     color: white;
     font-size: 70px;
 }

 body {
     background-image: url(Bilder/FlorianStettler/BG1.jpg);
     size: 5;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

} */