ul.title {

    color: rgba(187, 16, 135);
    font-size: 55px;
    font-family: "Google Sans", sans-serif;
    text-shadow: 2px 2px 2px rgb(224, 210, 220);
    text-align: center;
    list-style-type: none;
    margin: 10px;
}

li.img {
    max-width: 400px;
        margin: auto;
    margin-top: 20px;
    display: flex;
}

table.lebenslauf th {
    font-size: 30px;
    border-style: groove;
    border-width: medium;
    border-color: white;
    margin: auto;
    padding: 8px;
    color: hsla(176, 85%, 47%, 0.993);
        text-shadow: 2px 2px rgb(199, 18, 42);
}

.lebenslauf td {
    padding: 8px;
    border-style: dotted;
    border-width: thin;
}

table.hobbies {
    border-style: none;
}

table.hobbies th {
    font-size: 40px;
    text-align: center;
        padding: 0px 10px 0px 10px;
    border-style: none;
    }
    
    td img {
        width: 100%;
        height: 400px;
        /* gleiche Höhe für alle Bilder */
        object-fit: cover;
        /* Bild wird passend zugeschnitten */
        border-radius: 8px;
        border-style: none;
    }
    
    .hobbies td {
        padding-right: 0.5em;
}

table.lebenslauf {
    color: white;

    font-size: 25px;
    font-family: "Google Sans", sans-serif;
    margin: auto;
    margin-top: 0.5em;
    background-image: radial-gradient(rgba(32, 90, 124, 0.185)), url(Bilder/FlorianStettler/BG1.jpg);
    background-size: cover;
    /*11,
        27,
        36,
        0.7*/
}

td.time {
    color: rgba(187, 16, 135);
    text-shadow: 1px 1px 1px rgb(190, 144, 177);
    border-color: white;
}

table.florian td {
    border-style: none;
    font-family: "Google Sans", sans-serif;
    color: white;
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
    padding-left: 10px;
}

table.florian tr td:first-child {
    padding-right: 20px;
    font-weight: bold;
}