body {

    background-image: url("../Bilder/FlorianStettler/BG1.jpg");
    background-size: cover;
    /* Bild füllt den Bildschirm */
    background-position: center;
    /* Bild bleibt zentriert */
    background-repeat: no-repeat;
    /* kein Kacheln */
    background-attachment: fixed;
    /* optional: bleibt beim Scrollen stehen */
    padding-left: 10px;
    font-family: "Google Sans", sans-serif;
    color: white;

    padding-bottom: 2.5%;
}

/* Überschriften, Untertitel */
div.welcome {

    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
}



div.detail {

    width: 1200px;
    margin: auto;
}

div.tamos {


    height: 350px;
    width: 600px;
    margin: auto;

    background-image: linear-gradient(135deg, rgba(26, 24, 94, 0.25) 60%, rgba(66, 14, 14, 0.25)40%), url(../Bilder/FlorianStettler/Webbild_TAMOS-AG-01.png);
    background-size: cover;



}


p {

    color: white;
    font-size: 25px;
    font-family: "Google Sans", sans-serif;
    margin: auto;
    padding-top: 4px;
    padding-left: 10px;
}

p.welcome {
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
}

p.detail {

    color: rgba(255, 255, 255, 0.8);
    font: bold;
    padding-top: 100px;
    text-align: center;


}

li.img {
    max-width: 400px;
        margin: auto;
    margin-top: 20px;
    display: flex;
}





/*Impressum*/
.topic {

    font-size: 40px;
}


/*Zitat*/
blockquote {

    border-left: 5px solid rgb(82, 16, 16);
    padding-left: 1rem;
    margin: 3rem 0;
    font-style: italic;
    color: blanchedalmond
}

blockquote cite {
    display: block;
    margin-top: 0.5rem;
    font-style: normal;
    font-size: 0.9rem;
    color: #777;
}

/* Hover Effekte*/
a:hover {
    color: white;
    cursor: grab
}



a {
    text-decoration: none;
    color: rgb(187, 16, 135)
}

a.house {

    font-size: 65px;
    text-align: right;


}

img {
    max-width: 100%;
    height: auto;
}